body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    display: flexbox;
    justify-content: center;
    align-items: center;
    margin: 5em;
    padding: .5em;
}

.me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.me h1 {
    width: 35%;
    font-style: oblique;
    text-align: left;

}

.picture {
    padding-left: 100px;
}

.Historical_place {
    width: 50%;
}

.greece {
    padding-left: 100px;
}

th {
    text-align: center;
}

td {
    padding: 10;
}

table,
th,
td {
    border: 1px solid #000;

}

table {
    margin: auto;
    width: 75%;
    height: 75%;

}

.language {
    text-align: left;
    justify-content: center;

}

.language h2 {
    text-align: center;
    font-style: oblique;
}

.language p {
    text-align: left;

}

h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-style: oblique;
}

.Interests {

    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
}



.points_of_interest {
    margin-right: 25px;
    padding-bottom: .5%;
    text-align: left;
}



@media (min-width: 960px) {
    .Interests {
        display: flex;
    }

    .points_of_interest {
        display: flex;
    }

    .destination {
        display: flex;
        margin-right: 2em;


    }

    .destination p {
        padding-top: 2%;
        margin-left: .8%;
        text-align: left;
    }

    .greek {
        margin-left: 9%;
        width: 500%;



    }


    .me img {
        width: 35%;



    }
}