body {
    background-color: lightgrey;
    font-family: 'Times New Roman', Times, serif;
    display: flexbox;
    justify-content: center;
    align-items: center;
   
}



.me h1 {
    width: 35%;
    font-style: oblique;
    text-align: left;


}

.picture {
    padding-left: 100px;
}

.Historical_place {
    width: 100%;
    height: 20%;


}

.greece {
    padding-left: 100px;
}

th {
    text-align: center;
}

td {
    padding: 10;
}

table,
th,
td {
    border: 1px solid #000;

}

td {

    text-align: center;
}

table {
    margin: auto;
    width: 55%;
    height: 55%;

}

.language {
    text-align: left;
    justify-content: center;

}

.language h2 {
    text-align: center;
    font-style: oblique;
}

.language p {
    text-align: left;

}

h2 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 3%;
    font-style: oblique;
}

.Interests {

    justify-content: center;
    flex-direction: row;
    padding-top: 5px;
    font-size: medium;
}



.points_of_interest {
    margin-right: 25px;
    padding-bottom: .5%;
    text-align: left;

}

.greek {
    margin-left: 9%;
    width: 100%;

}


@media (min-width: 960px) {
    .Interests {
        display: flex;
    }

    .points_of_interest {
        display: flex;
    }

    .Historical_place {
        width: 50%;


    }

    .destination {
        display: flex;
        margin-right: 2em;
        justify-content: right;


    }


    .destination p {
        padding-top: 2%;
        margin-left: .8%;
        text-align: left;
    }

    .greek {

        max-width: 100%;
        margin: 0;




    }


    .me img {
        max-width: 100%;
        margin: 0;




    }

    .me {
        display: flex;
        justify-content: center;
        align-items: center;
    }



}

@media (max-width: 959px) {
    .points_of_interest {
        display: flex;

    }

    .Bo-Kaap {
        flex-direction: row-reverse;
        max-width: 100%;
    }

    .greek {

        margin: 0;
    }

    .me img {
        margin: 0;
    }



}